.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

._h-jc-sb {
  justify-content: space-between;
}

._h-jc-c {
  justify-content: center;
}

._h-ai-c {
  align-items: center;
}

._h-g {
  display: grid;
}

._h-d-n {
  display: none;
}

._h-g-3 {
  grid-template-columns: repeat(3, var(--w-card));
}

.__bg-grey {
  background: var(--c-grey-800);
}

.__bg-white {
  background: var(--c-white);
}

._h-gap-sm {
  gap: 8px
}

._h-gap-xl {
  gap: 40px;
}

._t-h3 {
  font-size: 28px;
}

._t-h2 {
  font-size: 48px;
}

._t-h1 {
  font-size: 64px;
}

._t-title-ticket {
  font-size: 72px;
}

._h-w-100 {
  width: 100%;
}

