.advante {
  padding: 87px 0 78px;

  .tag {
    margin-bottom: 16px;
  }

  &--header.title {
    margin-bottom: 48px;
    letter-spacing: 1px;
  }

  ._h-g {
    gap: 32px;
  }

  &--card {
    padding: 20px;
    gap: 15px;

    .title {
      font-family: "Poppins", sans-serif;
      letter-spacing: 0.7px;
      line-height: 1.54;
      font-weight: 600;
    }

    .text {
      letter-spacing: 0.5px;
      line-height: 1.59;
    }
  }
}